.layout {
    position: relative;
    height: 100vh;

    &.layout-login {
        background-image: url('http://s6.realtime.vn:8082/crm/layout/assets/img/bg.jpeg?fbclid=IwAR2FZ6pwuacbnAahkDONVFa4kzBk34ELGVkHEDTuvUq2PZPrGeHpQIpY2q8');
        background-size: cover;
    }

    .main-layout {
        padding: 20px;
        overflow: auto;

        .box-tbl {
            border: 2px solid #ececec;
            border-radius: 4px;
        }

        .box-tit {
            background-color: #f7f7f7;
            border-bottom: 2px solid #ececec;
            line-height: 30px;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: normal;

            .icon-tit {
                color: #1c7bd5;
                margin-right: 6px;
                font-size: 15px;
            }
        }

        .list-feature {
            line-height: 30px;
            padding: 20px 10px;

            .button-feature {
                display: inline-block;

                .btn-ft {
                    background-color: #ffffff;
                    border: 1px solid #1c7bd5;
                    color: #1c7bd5;
                    border-radius: 3px;
                    margin-right: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: #1c7bd5;
                        color: #ffffff;
                    }
                }
            }

            .search-feature {
                float: right;

                .input-search {
                    border: 2px solid #dbdcdf;
                    line-height: 14px;
                    border-radius: 3px;
                    margin-left: 4px;
                    padding: 6px 10px;
                    width: 170px;
                    outline: none;
                }

                .btn-search {
                    background-color: #24a947;
                    border: 1px solid #24a947;
                    color: #ffffff;
                    border-radius: 3px;
                    margin-left: 5px;
                    cursor: pointer;
                }
            }

            &.custom-feature {
                text-align: right;

                .search-feature {
                    float: none;
                }
            }
        }

        .tbl-custom-data {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 10px;
            
            .headRow {
                background-color: #e8ecef;
            }
        
            tr {
                th, td {
                    border: 1px solid #dddada;
                    padding: 6px;
        
                    &:first-child {
                        text-align: center;
                    }
                }
        
                th {
                    text-align: left;
                }
        
                th, td {
                    &:first-child {
                        border-left: 0;
                    }
        
                    &:last-child {
                        border-right: 0;
                    }
                }
        
                .icon-tbl {
                    color: #1c7bd5;
                    margin: 0 4px;
                    cursor: pointer;
        
                    &.icon-exclamation, &.icon-trash {
                        color: #f90707;
                    }
                }
                
                span {
                    display: inline-block;
                }

                .icon-edit {
                    color: #007bff;
                    font-size: 16px;
                    cursor: pointer;
                }
            }
        }

        .totalTable {
            padding: 10px;
            font-weight: bold;
        }
    }

    .model {
        .header-model {
            line-height: 30px;
            font-size: 22px;
            padding: 14px 0;
            border-bottom: 1px solid #ececec;
        }
        
        .main-model {
            max-height: 500px;
            overflow: auto;

            .form-login {
                margin: 20px 0;
            }
        }

        .footer-model {
            border-top: 1px solid #ececec;
            text-align: right;
            padding-top: 15px;

            .btn-model {
                background-color: #ffffff;
                border: 1px solid #1c7bd5;
                border-radius: 3px;
                color: #1c7bd5;
                padding: 10px 14px;
                cursor: pointer;

                &:hover{
                    background-color: #1c7bd5;
                    color: #ffffff;
                }

                &.btn-closes {
                    border-color: #f80909;
                    color: #f80909;
                    margin-left: 10px;

                    &:hover{
                        background-color: #f80909;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}