.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;

    .box {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 50%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 4px;
        padding: 20px;
        border: 1px solid #999;
        overflow: auto;

        .close-icon {
            content: 'x';
            cursor: pointer;
            position: fixed;
            top: 10px;
            right: 10px;
            width: 25px;
            height: 25px;
            line-height: 20px;
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            color: gray;
        }
    }
}