.dashboard {
    .tit-dash {
        font-size: 30px;
        font-weight: 500;
    }

    .out-bound {
        background-color: #e8ecef;
        padding: 12px;
        border-radius: 3px;
    }

    .list-box-info {
        margin: 20px 0;

        .box-detail-info {
            width: calc(( 100%  - 30px ) / 4);
            display: inline-block;
            margin-right: 10px;
            background-color: #007aff;
            border-radius: 4px;
            color: #ffffff;

            &:nth-child(1) {
                background-color: #fec107;
            }

            &:nth-child(2) {
                background-color: #27a844;
            }

            &:last-child {
                background-color: #dc3546;
                margin-right: 0;
            }

            .tit-info {
                font-size: 22px;
                line-height: 30px;
                padding: 20px;
            }

            .link-info {
                line-height: 26px;
                padding: 6px 20px;
                color: #ffffff;
                display: block;
                border-top: 1px solid #9e9c9c;
                font-size: 13px;
                text-decoration: none;
                position: relative;

                .icon-link {
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                }
            }
        }
    }
}